// COLORS
$primary-color: #200122;
$secondary-color: #6f0000;

$white-color: #FFFFFF;

$dark-grey: #333333;
$light-grey: #a0a0a0;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
